@using SHOPPP_Cherkashneva.Data.Models
@model IEnumerable<Categorys>
@{
    Layout = "_Layout";
}
<form method="post" enctype="multipart/form-data">
    <div>
        Наименование:
        <br/><input name="name" placeholder="Наименование:" />
    </div>   
    <div>
        Описание:
        <br/><input name="description" placeholder="Описание:" />
    </div>
    <div>
        <label for="file">Изображение:</label>
        <br /><input type="file" name="file"/>
    </div>
    <div>
        Стоимость:
        <br /><input name="price"/>
    </div>
    <div>
        Категория:
        <br /><select name="idCategory">
            @{
                foreach (Categorys Category in Model)
                {
                    <option value="@Category.Id">@Category.Name</option>
                }
            }
        </select>
    </div>
    <input type="submit"/>
</form>